var button = document.querySelector('button');
button.addEventListener('click', () => console.log('Clicked!'));

var button = document.querySelector('button');
Observable.fromEvent(button, 'click')
  .subscribe(() => console.log('Clicked!'));
